.listing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 400px;
  border: 1px solid black;
  background-color: #f2f2f2;
  padding: 15px;
  margin: 10px;
  color: #757575;
  box-shadow: 1px 2px 20px 0px #757575;
  width: calc(33% - 60px);
  img {
    width: 100%;
  }
}

.listing.listing--details {
  border: none;
  box-shadow: none;
  width: calc(100% - 30px);
  margin: 0;
}

.listing__heading {
  margin: 0 0 10px;
  text-transform: capitalize;
  color: #582569;
}

.listing__button {
  border: none;
  border-radius: 5px;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  background: #62c390;
  color: aliceblue;
  padding: 10px;
  &:hover {
    background: #43af76;
  }
}
