%genericTopbarLayout {
  width: 100%;
  margin: 0;
  padding: 10px 0;
  background: #582569;
  color: aliceblue;
  text-align: center;
}

.page-header {
  @extend %genericTopbarLayout;
}
.page-nav {
  @extend %genericTopbarLayout;
  display: flex;
  justify-content: center;
  margin: 0 0 15px 0;
  padding-bottom: 25px;
  button {
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    background: #62c390;
    color: aliceblue;
    padding: 10px;
    margin: 0 10px;
    &:hover {
      background: #43af76;
    }
  }
}
